HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Local config ###
application-local.yml

Dockerfile.local
*.log
src/main/java/com/example/finalproject/forLocal/

### Secrets ###
.env
.env.*
*.pem
*.key

### Generated sources ###
src/main/generated/*

**/claude.md
.claude
.agents/
.codex/
.codex-state/

.DS_Store

myMd/
docs/



minio_data/
pgdata/
GEMINI.md
AGENTS.md
CLAUDE.md
.serena/
ERD

k6/
docker/image/
